
table, th, td{
      border:02px solid black
     
  }
h1{
  font-size: 50px; color: blue;
  text-align: center;
  background-color: dimgrey;
}
th{
  width: 5in;
}
td{
  width: 3in;
  height: .5in;
}
body{
  background-color: rgb(252, 247, 181);
  width:300px;
  margin:auto;
  font-size: large;
}
form{
  border-style:groove;
  align-items: center;
  border-color: dimgray;
  font-size: large;
  text-align: center;
}
.Genrelist{
  font-size: small;
}
.registerbtn {  
  background-color: #4CAF50;  
  color: white;  
  padding: 16px 20px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 100%;  
  opacity: 0.9;  
}  
.regsub{
  background-color: #4CAF50;  
  color: white;  
  padding: 16px 20px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 100%;  
  opacity: 0.9;
}
.regnew{
  background-color: #4CAF50;  
  color: white;  
  padding: 16px 1px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 100%;  
  opacity: 0.9;  
}
.signin1{
  background-color: #4CAF50;  
  color: white;  
  padding: 16px 1px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 100%;  
  opacity: 0.9;  
}
.registernewuser{
  background-color: #4CAF50;  
  color: white;  
  padding: 16px 1px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 100%;  
  opacity: 0.9;  
}